/**
 * ${1:Description}
 * @authors ${TM_AUTHOR} (${TM_AUTHOR_EMAIL})
 * @date    ${TM_DATE}
 * @version ${2:1.0.0}
 */

const ${TM_FILE_CLASS}Entity = require('../lib/entity/${TM_ENTITY}');

/**
  将以下的配置添加到 /backend/route.js 中
  app.delete('/api/v1/${TM_ENTITY}/:id', jwt, '${TM_ENTITY}.delete'); // 移除记录
  app.post('/api/v1/${TM_ENTITY}', jwt, '${TM_ENTITY}.add'); // 添加记录
  app.put('/api/v1/${TM_ENTITY}/:id', jwt, '${TM_ENTITY}.update'); // 修改记录；
  app.get('/api/v1/${TM_ENTITY}', jwt, '${TM_ENTITY}.index'); // 获取记录信息；
  app.get('/api/v1/${TM_ENTITY}/:id', jwt, '${TM_ENTITY}.get'); // 获取单条记录信息；
  */

module.exports = app => {
  const { DB_PREFIX } = app.config;
  const table = `\${ DB_PREFIX }\${ ${TM_FILE_CLASS}Entity.dataSource }`;

  return class ${TM_FILE_CLASS}Controller extends app.Controller {
    /**
     * 获取记录
     * @param {*} ctx
     */
    async ${3:index} (ctx) {
      const service = this.service.${TM_ENTITY};
      const { query, response } = ctx;

      query.condition = {
        [table]: {
          ${4:word}_LIKE: ${4}
        }
      };

      try {
        const record = await service.getList(query);

        response.success = record.map(item => {
          return item.valueOf();
        });

      } catch (e) {
        response.fail = e.message;
      }
      ${5}
      /**
       * @to-do
       */
    }
  };
};